body, html, #__next, .site { 
  background: #4DB6AC;
}


.emoji-art-container {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-gap: 30px;
  grid-template-areas: '. .       side-bar ' 
                       '. canvas  side-bar'
                       '. .       side-bar' ;
  height: 100vh;
}


.canvas {
  display: grid;
  grid-area: canvas;
}

.side-bar {
  display: flex;
  width: 400px;
  grid-area: side-bar;
  align-items: center;
  padding: 10px;
  justify-content: flex-start;
  flex-flow: column;
}